<!-- start custom head snippets -->

<!-- Meta tags -->
<meta name="google-site-verification" content="9LKKGJUwLYfqaZ6dOej17YCM9u3urYQskujx515DKaw" />
<meta name="naver-site-verification" content="20e70b3bd163ddf469f0ec561a468c7473169947" />
<meta name="msvalidate.01" content="AD001A16D2F44A7C4F968A344E2D2DD0" />

<!-- Meta properties -->
<meta property="og:title" content="How To Flow?" />
<meta property="og:image" content="https://www.how2flow.net/assets/images/main-banner.png" />
<meta property="og:url" content="https://www.how2flow.net" />
<meta property="og:type" content="website" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DM3E7FM2K4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DM3E7FM2K4');
</script>

<!-- Kakao Talk msg API (gtag.js) -->
{% if page.share %}
  <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script>
      Kakao.init("f042597d17020df924ce9f06ac4abca6");
      function sendLink() {
        Kakao.Link.sendCustom({
          templateId: 93183,
          templateArgs: {
            title: "{{ page.title }}",
            description: "{{ page.excerpt }}",
            url: "{{ page.url }}",
          },
        });
      }
  </script>
{% endif %}

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<!-- end custom head snippets -->
