/* colors */
$primary-color: #c6c9cc !default;

/* sidebar */
$right-sidebar-width-narrow: 150px !default;    // default 200px
$right-sidebar-width: 250px !default;           // default 300px
$right-sidebar-width-wide: 300px !default;      // default 400px
