/* sidebar  */
.author__urls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  margin-top: 15px;
  margin-right: -10px;
  padding-left: 30px;
  padding-right: 0;

  li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
  }
}

/* syntax */
pre, code {
  font-family: "Source Code Pro", "Roboto Mono", "Nanum Gothic", Consolas, Courier, monospace;
  font-size: 16px;
  line-height: 1.5em;
  background-color: #f7f7f7;
  color: #333;
  padding: 1em;
  border-radius: 4px;
  overflow: auto;
}

pre code {
  padding: 0;
  background-color: transparent;
  border: none;
}

.highlighter-rouge {
  color: #d14;
}

.highlighter-rouge .highlight {
  color: #d14;
  background-color: #f7f7f7;
}

.highlighter-rouge .highlight-code {
  color: #d14;
  background-color: #f7f7f7;
}

.highlighter-rouge .highlight-source-shell {
  color: #75715e;
}
